{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Formulario</title>
        <link href="{% static "imagenes/Pro Learn.jpeg"%}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
    </head>
    <nav class="navbar navbar-expand-lg mb-2 border-bottom border-body" style="background-color: #021D2E;">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <img src="{% static "imagenes/Pro Learn.jpeg"%}" alt="Bootstrap" width="100" style="margin-left: 10px;">
          <div class="mx-3">
            <div class="navbar-nav">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end p-1"><a href="/"><button type="button" class="btn btn-lg" id="botonnav">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="bi bi-houses-fill"></i> Inicio
              </button></a></div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end p-1"><button type="button" class="btn btn-lg" id="botonnav">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="bi bi-newspaper"></i> Noticias
              </button></div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end p-1"><button type="button" class="btn btn-lg" id="botonnav">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="bi bi-info-square-fill"></i> Info
              </button></div>
              
            </div>
            </div>
        </div>
    </nav>
    <body>
        <div class="container bg-light mt-5 border border-black">
            <br/>
            <img src="{% static "imagenes/Logo_SIGA.png"%}" alt="Bootstrap" width="15%" style="margin-left: 10px;" class="rounded mx-auto d-block" ><h1 class="text-center">Bienvenido Profesor<br>Completemos algunos datos</h1>
            <br/><br/>
            {% if r %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h5>{{ r }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <form action="/registrar_profesor/{{ usuario.id }}" method="post">
                {% csrf_token %}
                <br>
                <h4 for="txtnom" class="form-label text-start">Nombre:</h4>
                <input type="text" name="txtnom" min="1" max="9999999" required class="form-control form-control-lg" />
                <br>
                <h4 for="txteda" class="form-label text-start">Edad:</h4>
                <input type="number" name="txteda" class="form-control form-control-lg">
                <br>
                <h4 for="txtema" class="form-label text-start">Correo:</h4>
                <input type="text" name="txtema" min="1" max="9999999" required class="form-control form-control-lg" />
                <br>
                <input type="submit" value="Registrarse" class="btn btn-primary btn-lg mb-2" style="width:100%"/>
                {% if r1 %}
                    <a href="/"><input type="button" value="{{ r1 }}" class="btn btn-primary btn-lg mb-2" style="width:100%"/></a>
                {% endif %}
                <br/><br/>
            </form>
            
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>